# Aliases

alias desk="cd ~/Desktop"
alias down="cd ~/downloads"
alias drop="cd ~/Dropbox"
alias sites="cd /Users/andrew/Sites"
alias vagrantsites="sites && cd vagrant-local/www"
alias restart="sudo apachectl restart"
# alias zero="ssh zero@192.168.1.88"
alias pi="ssh pi@192.168.1.88"
alias a.="atom-beta ."

alias pw="pwgen -s -y 50"

alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"

### Git
alias gs="git status"
alias gd="git diff"
alias gl="git log --graph --full-history --all --color"
alias ga="git add -A"
alias gb="git branch"

alias gpom="git push origin master"
alias gpuom="git pull origin master"
alias gpov="git push origin v6"
alias gpuov="git pull origin v6"
alias gpos="git push origin staging"
alias gpol="git push origin live"
alias gpuol="git pull origin live"
alias gpog="git push origin gh-pages"
alias gpuog="git pull origin gh-pages"

alias gcm="git checkout master"
alias gcv="git checkout v6 && sites && cd big-andy.co.uk/site && npm install"
alias gcs="git checkout staging"
alias gcl="git checkout live"

alias gmm="git merge master"
alias gms="git merge staging"
alias gml="git merge live"
alias gsu="git submodule update --init --recursive"

alias bp="sudo vim ~/.bash_profile"
alias sbp="source ~/.bash_profile"

alias ls="ls -laF"

# Aliases imported through newSite.sh script
alias ba="sites && cd big-andy.co.uk/content/themes/v5"
alias bawp="sites && cd big-andy.co.uk/wp && git pull origin master && cd ../content/plugins/wp-api && git pull origin develop && cd ../../../ && wp plugin update --all && gam 'update WordPress and WP-API from Github' && gpol"
alias bag="ba && gulp"
