# Aliases

# Aliases

alias desk="cd ~/Desktop"
alias down="cd ~/Desktop/downloads"
alias sites="cd /Users/andrew/Sites"
alias restart="sudo apachectl restart"

alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"

### Git
alias gs="git status"
alias gd="git diff"
alias gl="git log --graph --full-history --all --color"
alias ga="git add -A"
alias gb="git branch"

alias gpom="git push origin master"
alias gpuom="git pull origin master"
alias gpov="git push origin v5"
alias gpuov="git pull origin v5"
alias gpos="git push origin staging"
alias gpol="git push origin live"
alias gpuol="git pull origin live"

alias gcm="git checkout master"
alias gcs="git checkout staging"
alias gcl="git checkout live"

alias bp="sudo vim ~/.bash_profile"
alias sbp="source ~/.bash_profile"

alias ls="ls -laF"

# Aliases imported through newSite.sh script
alias ba="sites && cd big-andy.co.uk/content/themes/v5"
alias bawp="sites && cd big-andy.co.uk/wp && git pull origin master"
alias bag="ba && gulp"
alias boi="sites && cd source/boilerplate"
alias re="sites && cd radius-equity/wp-content/themes/radius-equity"
alias reg="re && grunt"
alias tele="sites && cd teleflex/wp-content/themes/teleflex"
alias teleg="tele && grunt"
alias ox="sites && cd oxword2/wp-content/themes/oxwords-theme"
alias oxg="ox && grunt"
alias op="sites && cd optek/wp-content/themes/Optek"
alias mt="sites && cd mtcqs/wp-content/themes/mtcqs"
alias mtg="mt && gulp"
