function gm() {
     git commit -am "$1"
}

function gam() {
    git add -A :/ && git commit -m "$1"
}

function take() {
	mkdir $1 && cd $1
}

pass() {
	if [ -n "$1" ]
		then
			pwgen -sy $1 1 |pbcopy |pbpaste; echo " Has been copied to clipboard"
	else
		pwgen -sy 40 1 |pbcopy |pbpaste; echo "Has been copied to clipboard"
	fi
}
